<div>
    <span>Step 1: Choose your model and color </span>
</div>

<div>
    <span> Model:</span>
    <select [(ngModel)]="selectedTeslaModelCode" (change)="onModelCodeChange()">
        <ng-container *ngFor="let model of teslaModels">
            <option [value]="model.code">{{model.description}}</option>
        </ng-container>
    </select>
    <span>Color:</span>
    <select [(ngModel)]="selectedTeslaColorCode">
        <ng-container *ngIf="selectedTeslaModel">
            <ng-container *ngFor="let color of selectedTeslaModel.colors">
                <option [value]="color.code">{{color.description}}</option>
            </ng-container>
        </ng-container>
    </select>
</div>

<img src="{{ initializeImageUrl() }}" />