<span>Step 2: Select your config and options </span>
<div *ngIf="teslaType && teslaType.configs" class="options-container">
    <span> Config:</span>
    <select [(ngModel)]="selectedTeslaTypeConfigId" (change)="onTeslaTypeConfigChange()">
        <ng-container *ngFor="let config of teslaType.configs">
            <option [value]="config.id">{{config.description}}</option>
        </ng-container>
    </select>
    <ng-container *ngIf="selectedTeslaTypeConfig">
        <span> Range: {{selectedTeslaTypeConfig.range}} miles - Max speed: {{selectedTeslaTypeConfig.speed}}- Cost:
            {{selectedTeslaTypeConfig.price}} </span>
    </ng-container>

    <span> Tow hitch? </span>
    <input type="checkbox" [(ngModel)]="teslaType.towHitch">

    <span> Yoke steering wheel?</span>
    <input type="checkbox" [(ngModel)]="teslaType.yoke">
</div>