<div>
    <h1>Step 2: Select your config and options </h1>
</div>
<div *ngIf="teslaType && teslaType.configs" class="options-container">
    <div>
        <span> Config:</span>
        <select [(ngModel)]="selectedTeslaTypeConfigId" (change)="onTeslaTypeConfigChange()">
            <option [value]="null" selected>Select model</option>
            <ng-container *ngFor="let config of teslaType.configs">
                <option [value]="config.id">{{config.description}}</option>
            </ng-container>
        </select>
    </div>

    <ng-container *ngIf="selectedTeslaTypeConfig">
        <span> Range: {{selectedTeslaTypeConfig.range}} miles - Max speed: {{selectedTeslaTypeConfig.speed}}- Cost:
            {{selectedTeslaTypeConfig.price | currency: 'USD' }} </span>
    </ng-container>

    <div>
        <span> Tow hitch? </span>
        <input type="checkbox" (change)="onTeslaTypeConfigChange()" [(ngModel)]="teslaType.towHitch">
    </div>

    <div>
        <span> Yoke steering wheel?</span>
        <input type="checkbox" (change)="onTeslaTypeConfigChange()" [(ngModel)]="teslaType.yoke">
    </div>
</div>