<div>
    <h1>Step 2: Select your config and options </h1>
</div>
<div *ngIf="teslaType && teslaType.configs" class="options-container">
    <div>
        <span> Config:</span>
        <select #configSelect (change)="onTeslaTypeConfigChange(configSelect.value)">
            <option [value]="null" selected>Select model</option>
            <ng-container *ngFor="let config of teslaType.configs">
                <option [value]="config.id" [selected]="configuredTesla?.typeConfig?.id === config.id">
                    {{config.description}}</option>
            </ng-container>
        </select>
    </div>

    <ng-container *ngIf="selectedTeslaTypeConfig">
        <span> Range: {{selectedTeslaTypeConfig.range}} miles - Max speed: {{selectedTeslaTypeConfig.speed}}- Cost:
            {{selectedTeslaTypeConfig.price | currency: 'USD' }} </span>
    </ng-container>

    <!-- <div>
        <span> Tow hitch? </span>
        <input #includeTow type="checkbox" (change)="onIncludeTowChange(includeTow.value)" [value]="teslaType.towHitch">
    </div>

    <div>
        <span> Yoke steering wheel?</span>
        <input #includeYoke type="checkbox" (change)="onIncludeYokeChange(includeYoke.value)" [value]="teslaType.yoke">
    </div> -->
</div>