<div>
    <h1>Step 2: Select your config and options </h1>
</div>
<div *ngIf="teslaOptionConfig && teslaOptionConfig.configs" class="options-container">
    <div>
        <span> Config:</span>
        <select #configSelect id="configSelect" (change)="onTeslaOptionConfigChange(configSelect.value)">
            <option [value]="null" selected>Select model</option>
            <ng-container *ngFor="let config of teslaOptionConfig.configs">
                <option [value]="config.id" [selected]="configuredTesla?.config?.id === config.id">
                    {{config.description}}</option>
            </ng-container>
        </select>
    </div>

    <ng-container *ngIf="selectedTeslaTypeConfig">
        <span> Range: {{selectedTeslaTypeConfig.range}} miles - Max speed: {{selectedTeslaTypeConfig.speed}}- Cost:
            {{selectedTeslaTypeConfig.price | currency: 'USD' }} </span>
    </ng-container>

    <div>
        <span> Tow hitch? </span>
        <input id="includeTow" type="checkbox" [(ngModel)]="teslaOptionConfig.towHitch"
            (change)="onTeslaIncludeTowChange()">
    </div>

    <div>
        <span> Yoke steering wheel?</span>
        <input id="includeYoke" type="checkbox" [(ngModel)]="teslaOptionConfig.yoke" (change)="onTeslaYokeChange()">
    </div>
</div>