<div>
    <h1>Step 3: Summary </h1>
</div>

<ng-container *ngIf="(configuredTesla$ | async) as configuredTesla">
    <ng-container *ngIf="configuredTesla">

        <div class="summary-container">
            <h3> Your Tesla {{configuredTesla.modelDescription}}</h3>

            <div class="detail-and-price-container">
                <span> <b>{{configuredTesla.config?.description}}</b></span>
                <span> {{configuredTesla.config?.price | currency: 'USD' }}</span>
            </div>

            <span> Range: {{configuredTesla.config?.range}} miles - Max speed:
                {{configuredTesla.config?.speed}}</span>

            <div class="detail-and-price-container">
                <span><b>{{configuredTesla.modelColor?.description}} </b> </span>
                <span> {{configuredTesla.modelColor?.price | currency: 'USD' }}</span>
            </div>

            <div *ngIf="configuredTesla.towHitch" class="detail-and-price-container">
                <span><b> Tow Hitch Package</b> </span>
                <span> {{configuredTesla.extraCost | currency: 'USD' }}</span>
            </div>

            <div *ngIf="configuredTesla.yoke" class="detail-and-price-container">
                <span><b> Yoke Package </b></span>
                <span> {{configuredTesla.extraCost | currency: 'USD' }}</span>
            </div>
        </div>

        <hr>
        <div class="total-container detail-and-price-container">
            <span><b>TOTAL COST</b></span>
            <span>{{configuredTesla.totalCost | currency: 'USD'}}</span>
        </div>
        <hr>
    </ng-container>
</ng-container>